<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.portfolioapp">

   <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PortfolioApp">

        <activity
            android:name=".SplashScreen"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".c7"
            android:parentActivityName=".SeeMyCertificatesActivity"
            android:exported="false" />
        <activity
            android:name=".c6"
            android:parentActivityName=".SeeMyCertificatesActivity"
            android:exported="false" />
        <activity
            android:name=".c5"
            android:parentActivityName=".SeeMyCertificatesActivity"
            android:exported="false" />
        <activity
            android:name=".c4"
            android:parentActivityName=".SeeMyCertificatesActivity"
            android:exported="false" />
        <activity
            android:name=".c3"
            android:parentActivityName=".SeeMyCertificatesActivity"
            android:exported="false" />
        <activity
            android:name=".c2"
            android:parentActivityName=".SeeMyCertificatesActivity"
            android:exported="false" />
        <activity
            android:name=".c1"
            android:parentActivityName=".SeeMyCertificatesActivity"
            android:exported="false" />

        <activity
            android:name=".SeeMyCertificatesActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ResumeSeeActivity"
            android:parentActivityName=".MyResume"
            android:exported="false" />
        <activity
            android:name=".MyResume"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilePhotoActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MoveToSkillsActivityOnBttonClick"
            android:parentActivityName=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>